doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block scripts
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")

  .navbar.navbar-inverse
    .container-fluid
      .navbar-header
        .navbar-brand ThisorThat.io
      ul.nav.navbar-nav.navbar-right
        li
          a Post
        li
          a Login
  body
    .container-fluid
      .row
        .col-md-3.well.no-margin.no-padding#newsfeed
          h3 Newsfeed
        .col-md-9 
          block content

