extends layout
block content
  body
    form
        .form-group
            label(for="title")
              h4 Post Title 
            input.form-control.form-control-lg#title(type="text")
        .form-group
            label(for="sectionAText") 
                h5 Section A Text
            textarea.form-control#sectionAText(rows=6)
        .form-group
            label(for="sectionBText") 
                h5 Section B Text
            textarea.form-control#sectionBText(rows=6)
        .form-group
            br
            button.btn.btn-primary(type="submit") Submit