extends layout

block content
  .container-fluid
    .row 
      .col-md-10
        each post in posts
          .row 
              .col-md-12
                .well.well-sm 
                  button.btn.btn-link.text-center 
                    h4 #{post.title}
      .col-md-2
        .row
          a.btn.btn-info(role="button" href="/posts/make")
              h5.text-center Submit

    